.loading {
    font-size: 2rem;
}
.error {
    font-size: 1.5rem;
    color: #CC0000;
}
.empty {
    font-size: 2rem;
}

.list {
    width: 100%;
    padding: 0 20px;
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.list li {
    list-style: none;
    display: flex;
    height: 35px;
    width: 100%;
}

.columns {
    font-weight: 700;
}

.list li div {
    border: solid 1px #000000;
    border-right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-wrap: nowrap;
}

.list li div:nth-child(1) {
    width: 4rem;
}
.list li div:nth-child(2) {
    width: 20rem;
}
.list li div:nth-child(3) {
    width: 10rem;
}
.list li div:nth-child(4) {
    width: 10rem;
}
.list li div:nth-child(5) {
    width: 10rem;
}
.list li div:nth-child(6) {
    width: 12rem;
}
.list li div:nth-child(7) {
    width: 7rem;
    border-right: solid 1px #000000;
}

.list li div:nth-child(7) button {
    color: #337AB7;
}

.status-inside {
    background: #80FF80;
}
.status-isolator {
    background: #DDFF80;
}
.status-outside {
    background: #FF8080;
}
.status-school {
    background: #FF8080;
}