.profile-disable-bg {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100dvw;
    height: calc(100dvh - var(--header-height) - var(--footer-height));
    background: rgba(0, 0, 0, 0.25);
}

.profile-wrapper {
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 1410px;
    height: 682px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    padding: 100px 20px 20px 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.profile-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.profile-col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    height: 100%;
}

.profile-col1 img, .profile-col1-blur-img {
    width: 400px;
    aspect-ratio: 1;
    border: 1px solid #000000;
    border-radius: 10px;
}

.profile-col1-blur-img canvas {
    border-radius: 10px;
}