.error {
    font-size: 1.5rem;
    color: #CC0000;
}

.disable-bg {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100dvw;
    height: calc(100dvh - var(--header-height) - var(--footer-height));
    background: rgba(0, 0, 0, 0.25);
}

.wrapper {
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 1410px;
    height: 682px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    padding: 100px 20px 20px 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}


.col1 {
    gap: 10px;
}

.col1 img, .col1-blur-img {
    width: 400px;
    aspect-ratio: 1;
    border: 1px solid #000000;
    border-radius: 10px;
}

.col1-blur-img canvas {
    border-radius: 10px;
}


.col2 {
    gap: 10px;
}

.col2-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.col2-resident {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
}

.col2-parents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 300px;
}

.col2-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.col2-parents > p {
    margin-bottom: -30px;
}