.error {
    font-size: 1.5rem;
    color: #CC0000;
}

.disable-page-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background: #000000;
    opacity: 0.5;
    z-index: 50;
}

.wrapper {
    background: #FFFFFF;
    position: fixed;
    top: 50dvh;
    left: 50dvw;
    transform: translateY(-50%) translateX(-50%);
    width: 1410px;
    height: 682px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
    padding: 100px 20px 20px 20px;
    z-index: 550;
    max-width: 100dvw;
}

.record {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.settings {
    position: absolute;
    top: 15px;
    left: 15px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.disable-profile-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    z-index: 50;
}

.loading-text {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    z-index: 51;
}

.info {
    width: 100%;
    display: flex;
    gap: 20px;
}
@media (max-width: 1100px) {
    .info {
        flex-direction: column;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.col1 img, .col1-blur-img {
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid #000000;
    border-radius: 10px;
}

.col1-blur-img canvas {
    border-radius: 10px;
}

.col1 button {
    color: #007BFF;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.col2-info {
    display: flex;
    gap: 20px;
}
@media (max-width: 675px) {
    .col2-info {
        flex-direction: column;
    }
}

.col2-resident {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    min-width: 100px;
    text-wrap: wrap;
}

.col2-link {
    color: #007BFF;
}

.col2-parents {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    min-width: 100px
}

.col2-parents > p {
    margin-bottom: -30px;
    text-wrap: wrap;
}

.col2-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.col2-no-parents {
    color: #C0C0C0;
    font-size: 2rem;
}

.col3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    width: 410px;
    min-width: 250px;
}

.col3-status-status {
    width: 225px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
}

.col3-no-status {
    color: #C0C0C0;
    font-size: 2rem;
}

.col3-status-inside {
    background: #80FF80;
}
.col3-status-school {
    background: #FF8080;
}
.col3-status-outside {
    background: #FF8080;
}
.col3-status-returned {
    background: #DDDDDD;
}

.col3-change-status {
    display: flex;
    gap: 10px;
    align-items: center;
}

.col3-change-status select {
    padding: 150px;
    padding: 10px;
    border-width: 2px;
}


.col3 > p {
    color: #808080;
    width: 200px;
}

.col3-comment {
    width: 100%;
    max-width: 285px;
    border-radius: 10px;
    background: #FFEEAA;
    padding: 10px;
    position: relative;
    height: max-content;
}

.col3-comment-corner {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
}

.col3-comment textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 250px;
    min-height: 20px;
    height: max-content;
    background: none;
    border: none;
    font-size: 1rem;
}

.col3-comment textarea::placeholder {
    font-size: 1rem;
}



.files {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.pxpand {
    width: 100%;
    display: block;
}

.expand p {
    margin-left: 20px;
    text-align: left;
    color: #808080;
}

.expand > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.expand span {
    font-size: 1.25rem;
    color: #C0C0C0;
}

.expand > div > div {
    height: 5px;
    background-color: #C0C0C0;
    width: calc(100% - 1.25rem);
}

.files-files {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.no-files {
    color: #C0C0C0;
    font-size: 2rem;
}

.file {
    width: 100%;
}

.file-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #007BFF;
}

.file-info div {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.file-info button {
    color: #007BFF;
}

.file img, .file-img {
    max-width: 100%;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.file-img canvas {
    border-radius: 10px;
}

.files-add {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid #007BFF;
    color: #007BFF;
    transition: background-color 0.1s ease-in-out;
}

.files-add:hover {
    background-color: #F8F8F8;
}

.files-add:active {
    color: #fff;
    background-color: #007bff;
}
